.col-sm-3{display: inline-block;width:10000px;}
.c {

  color: black;
  background-color: #FFFFFF;
  font-size: 11px;
  border-radius: 50%;
  width: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-color: blue;
/*  box-shadow: 0 0 0 3px #002525; // JUST ADD THIS LINE AND MODIFY YOUR COLOR*/
 padding-right: 10px;
  padding-left: 3px;
  margin-left: 10px;
  margin-right:10px;
  white-space: nowrap;
}

.container-outer { overflow-x: scroll; width: auto; height: 60px; overflow-y:hidden;}
.container-inner { width: 10000px; }

.navigation-color {
    font-size: 40px;
    color:#01AEBC;
}

.question-bg{
  background-color: #ededed;
}

.question-not-viewed{
  background-color: #FFFFFF;
  color: black;

}

.question-viewed{
  color:#00A5B5;
  box-shadow: 0 0 0 3px #00A5B5;
}

.current-question{
  background-color: #01AEBC;
  color:white;
}

/*.col-sm-3{display: inline-block;width:auto;}
.c {

  color: #64cbcd;
  font-size: 11px;
  border-radius: 50%;
 // height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-color: blue;
   box-shadow: 0 0 0 3px #002525; // JUST ADD THIS LINE AND MODIFY YOUR COLOR
  padding-right: 10px;
  padding-left: 3px;
    margin-left:10px;
    margin-right:10px
}
*/


