.col-sm-3{display: inline-block;width:10000px;}
.c {

  color: black;
  background-color: #FFFFFF;
  font-size: 11px;
  border-radius: 50%;
  width: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-color: blue;
/*  box-shadow: 0 0 0 3px #002525; // JUST ADD THIS LINE AND MODIFY YOUR COLOR*/
 padding-right: 10px;
  padding-left: 3px;
  margin-left: 10px;
  margin-right:10px;
  white-space: nowrap;
}

.container-outer { overflow-x: scroll; width: auto; height: 60px; overflow-y:hidden;}
.container-inner { width: 10000px; }

.navigation-color {
    font-size: 40px;
    color:#01AEBC;
}

.question-bg{
  background-color: #ededed;
}

.question-not-viewed{
  background-color: #FFFFFF;
  color: black;

}

.question-viewed{
  color:#00A5B5;
  box-shadow: 0 0 0 3px #00A5B5;
}

.current-question{
  background-color: #01AEBC;
  color:white;
}

/*.col-sm-3{display: inline-block;width:auto;}
.c {

  color: #64cbcd;
  font-size: 11px;
  border-radius: 50%;
 // height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-color: blue;
   box-shadow: 0 0 0 3px #002525; // JUST ADD THIS LINE AND MODIFY YOUR COLOR
  padding-right: 10px;
  padding-left: 3px;
    margin-left:10px;
    margin-right:10px
}
*/


.breadcrumb {
  /*margin: 10px 0 20px 0;*/
}
div.assessment {
  padding: 20px 10px 30px;
  /*border-bottom:5px #e8e8e8 solid;*/

/*min-height: 400px;*/
}
div.assessmentContent {
  margin: 20px 5px;
}
/*** STYLING ASSESSMENT TABS ****/

div.assessmentTabs {
  display: block;
  /*margin: 0 0 -5px 0;*/

font-family: 'Open Sans', sans-serif;
}
div.assessmentTabs > div {
  display: inline-block;
}
div.assessmentTabs div.assessmentRightTabs {
  float: right;
}
div.assessmentTabs div.assessmentNavTabs {
  display: inline-block;
  text-align: center;
}
div.assessmentNavTabs.assessmentResume {
  /*width: 60px;*/
}
div.assessmentNavTabs.assessmentResume div.tabLabel {
  text-align: right;
}
div.assessmentTabs div.assessmentNavTabs:hover .tabLabel {
  font-weight: bold;
}
div.assessmentTabs div.assessmentNavTabs div.tabLabel {
  text-align: center;
  font-size: 12px;
  display: none !important;
}
/** adjustments
div.assessmentNavTabs.assessmentPause {
  margin-right: -3px;
}**/
/* ENDS here */

div.assessmentTabs div.tabContainer {
  display: inline-block;
  padding: 17px 7px 18px;
  border-top: 1px #e8e8e8 solid;
  border-left: 1px #e8e8e8 solid;
  border-right: 1px #e8e8e8 solid;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-bottom: -2px;
  white-space: nowrap;
}
div.assessmentTabs div.assessmentRightTabs div.tabContainer {
  border: 5px #e8e8e8 solid;
  border-bottom: 0;
}
div.assessmentTabs div.tabContainer.iconContainer {
  padding: 0px !important;
}
div.assessmentTabs div.tabContainer.iconContainer i {
  font-size: 21px;
  padding: 0 1px;
  line-height: 31px;
  vertical-align: middle;
  margin-top: -3px;
  display: inline-block;
}
div.assessmentTabs div.tabContainer.iconContainer i:before {
  margin: 0px;
}
.tab-text {
  font-style: initial;
  padding-left: 5px;
  font-size: 18px;
}
div.assessmentTabs div.tabContainer.iconContainer i.svg-entrayn-i-explanation {
  font-size: 31px;
  line-height: 29px;
  padding: 0px;
  margin: 0px;
}
div.assessmentTabs div: not(.assessmentRightTabs) div.assessmentNavTabs: last-child div.tabContainer {
  border-right: 1px #e8e8e8 solid;
}
div.tabContainer.active {
  background: #e8e8e8;
  font-weight: bold;
  /*padding: 15px 5px !important;*/
}
div.tabContainer.iconContainer .infoBackground {
  margin: 6px 5px 4px;
  border-radius: 3px;
  padding: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
}
div.iconContainer.active {
  background: #FFF;
}
div.iconContainer.active i {
  color: #fff !important;
}
div.assessmentTabs div.sectionTabs.disabled {
  cursor: default;
}
.sectionTabs {
  width: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  text-align: center;
  white-space:nowrap;
}
/****  ENDS HERE ****/

.disabled {
  opacity: 0.5;
  cursor: default !important;
  color: #AAAAAA;
}
div.tabContent {
  border: 5px #e8e8e8 solid;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.generating {
  background: url('/sites/all/themes/entrayn_liquid/icons/ajax-loader-horizontal-bar.gif') no-repeat center;
}
/* question TABS */

div.questionsTabsContainer {
  display: inline-block;
  width: 100%;
  background: #e8e8e8;
  padding: 1px 0 6px 0;
}
div.questionsTabsContainer div {
  display: inherit;
}
div.questionsTabsContainer .questionListPane {
  position: relative;
  background: #e8e8e8;
}
div.questionsTabsContainer .questionListWindow {
  white-space: nowrap;
  width: 893px;
  min-height: 37px;
  overflow: hidden;
  vertical-align: top;
  background: #FFFFFF;
}
div.questionsTabsContainer .infoTab, div.questionsTabsContainer .previous, div.questionsTabsContainer .questionTab, div.questionsTabsContainer .next {
  padding: 10px;
  background: #FFFFFF;
  text-align: center;
  cursor: pointer;
  margin: 0 4px 0 0;
}

div.questionsTabsContainer .questionTab {
  padding: 10px 9.8px;
}

div.infoTab {
  width: 24px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 !important;
}
div.questionsTabsContainer div.previous {
  width: 0;
  font-size: 16px !important;
}
div.questionsTabsContainer div.next {
  float: right;
  width: 0;
  margin: 0;
  height: 17px;
  font-size: 16px !important;
}
div.questionsTabsContainer div.questionTab {
  font-size: 13px;
  color: #0088cc;
  cursor: pointer;
  height: 17px;
  vertical-align: top;
  margin: 0 3px 0 0;
  font-weight: bolder;
}
div.questionsTabsContainer: not(.userCountContainer) div.questionTab:hover div {
  text-decoration: underline;
  color: #0088cc !important;
}
div.questionsTabsContainer div.questionTab.active {
  font-weight: bold;
  border: 2px #FFFFFF solid;
  height: 15px;
  padding-top: 8px;
  width: 20px;
}
div.questionsTabsContainer div.questionTab.active div {
  color: #FFFFFF !important;
  width: 20px;
}
div.questionsTabsContainer div.questionTab div {
  width: 24px;
  font-size: 14px;
}
div.questionsTabsContainer div.questionTab div.skipped {
  color: #666666;
}
div.questionsTabsContainer div.questionTab div.answered {
  color: #666666;
  /*border-bottom:3px #016262 solid;*/
}
/* intro page*/

.assessmentTitle, .sectionTitle {
  font-size: 34px;
  font-weight: normal;
  text-transform: capitalize;
  display: inline;
  line-height: normal;
}
.assessmentState {
  font-size: 24px;
  line-height: normal;
  width: 58%;
  display: inline-block;
  font-family: 'Open Sans Condensed', sans-serif;
}
.submitAssessment, .continueAssessment {
  float: right;
  padding: 10px !important;
  margin: 0 10px;
}
span.totalAttemptedQuestions {
  font-weight: bold;
}
.assessmentStats, .sectionStats {
  display: inline-table;
  font-size: 36px;
  font-weight: 300;
  margin: 20px 0;
  width: 100%;
  line-height: 36px !important;
  font-family: 'Roboto';
}
.assessmentStats div, .sectionStats div {
  display: table-cell;
  vertical-align: top;
  /*padding: 0 5px 0 0;*/
}
.assessmentStats div span, .sectionStats div span {
  display: table-row;
  font-size: 11px;
  font-weight: normal;
  font-family: sans-serif;
}
div.assessmentStatsTable {
  margin: 10px 0 0 0;
}
table[id=assessment-stats-table] th, table[id=assessment-stats-table] td {
  /*border: 1px solid black;*/

/*padding: 5px;*/
}
table[id=assessment-stats-table] tr td: nth-last-child(-n+3) {
  text-align: right;
}
table.section-stats-table th, table.section-stats-table td {
  /*border: 1px solid black;*/

/*padding: 5px;*/

text-align: left;
}
table.section-stats-table tr td: nth-last-child(-n+1) {
  text-align: right;
}
table.section-stats-table {
  clear: both;
}
.assessmentLaunchAction {
  display: inline-block;
  width: 100%;
}
div.backAssessmentLaunch {
  display: inline-block !important;
  float: right;
  padding: 10px 30px;
  margin: 0 0 0 10px;
}
div.backAssessmentLaunch a.certificate {
  text-decoration: none;
  color: white;
}
div.assessmentAttemptCount {
  text-align: right;
  clear: both;
  margin-top: -26px;
  font-size: 10px;
}
.assessmentLaunchAction > div, div.backAssessmentLaunch {
  /*display: inherit;*/

/*background:#016262;*/

/*color: #fff;
  padding:5px 10px;
  border:1px solid;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;*/
}
.resumeAttempt {
  float: right;
}
.attemptAssessment {
  float: right;
  /*margin: 12px 0 0 10px;*/

font-size: 20px !important;
  line-height: 25px !important;
}
.assessmentLaunchAction div.disabled {
  background: #e8e8e8;
  color: #EEEEEE;
  cursor: default;
}
.assessmentAction {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0 10px;
}
.assessmentActionTopRight {

}
.assessmentActionTopRight i {
  font-size: 32px;
}
.assessmentActionTopRight .nextGlu, .assessmentActionTopRight .prevGlu {
  float: right;
  cursor: pointer;
}

.assessmentAction div.disabled {
  cursor: default;
  color: #e8e8e8;
}
/* section details*/

.sectionDetails {
  margin: 0px 0;
}
.section {
  margin: 50px 0 0 0;
  /*padding: 10px;*/
}
.tableRefrence {
  text-align: -moz-right;
  text-align: -webkit-right;
  font-size: 14px;
  border: 1px solid #adadad;
  border-bottom: none;
  border-radius: 4px;
  margin-bottom: -5px;
  padding: 5px 5px 10px 5px;
}
.tableRefrence div[class$=Refrence] {
  display: table-cell;
  margin: 2px 5px;
  padding: 5px;
}
.trimmedQuestionContainer {
  width: 92%;
  height: 20px;
  overflow: hidden;
  display: inline-block;
  float: left;
  margin: 0;
  cursor: pointer;
}
.goToTop {
  float: right;
  margin: -10px 4px 0 0;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}
.assessment .instruction {
  margin: 20px 0 0;
}
/* pre launch*/
.practice-quiz .features ul {
  list-style-type: disc !important;
  margin-left: 35px;
  font-size:14px;
}
.practice-quiz .features ul li {
  line-height: 20px !important;
}
.features {
  font-size: 16px;
  margin: 20px 0;
  line-height: normal;
}
.features ul {
  list-style: none;
  font-size: 15px;
  margin: 0;
}
.features ul li {
  line-height: 35px;
}
.instructionLabel {
  font-size: 24px;
}
.instructionText {
  font-size: 15px;
  margin: 10px 0;
}
.attemptCount {
  text-align: right;
  /*margin: 10px 0px;*/
}
/* question type css */

.questionContainer {
  min-height: 50vh;
  white-space: normal;
  color: #222222;
  font-family: Times, 'Times New Roman' !important;
}
.questionContainer p {
  font-family: Times, 'Times New Roman' !important;
}
.questionContainer .comingSoon {
  text-align: center;
  min-height: 300px;
  border-bottom: 5px #e8e8e8 solid;
  font-size: 36px;
  padding: 50px;
}
.questionContainer > div {
  padding: 10px;
}
.questionContainer .questionType {
  /*margin: 10px;*/
  width: 75%;
  font-family: 'Open Sans', sans-serif !important;
  margin: 10px;
  font-size: 25px;
  display: inline-block;
  line-height: initial;
}
/************GRADING CSS************/

.questionContainer .pointsGrid {
  margin:10px;
  display: inline-block;
  font-size: 25px;
  float: right;
  vertical-align: middle;
}
.questionContainer .pointsGrid div {
  font-family: 'Open Sans', sans-serif !important;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.questionContainer .pointsAllotted {
  /*background:#e8e8e8;*/

/*padding:7px 11px;*/

font-size: 20px;
  vertical-align: middle;
}
.questionContainer .pointsAllotted div {
  background: #e8e8e8;
  padding: 7px;
  display: table-cell;
}
.questionContainer .pointsAllotted div.pointsSeprator {
  /*padding-right: initial;*/

padding: 2px;
}
.questionContainer .pointsAllotted div.pointsScored {
  /*display: inline !important;*/

/*padding-right: initial;*/

min-width: 22px;
}
.questionContainer .pointsInput {
  width: 22px;
  height: 31px;
  vertical-align: middle;
  font-size: 20px;
  line-height: 27px;
  padding: 6;
  text-align: right;
  border-radius: 0;
}
.questionContainer .pointsAction {
  border-radius: 2px;
  cursor: pointer;
}
.questionContainer .pointsAction .entrayn-floppy {
  color: white;
  font-size: 23px;
  line-height: 23px;
  padding: 4px 0px 4px 0px;
  vertical-align: middle;
  display: inline-block;
}
.questionContainer .pointsAction .entrayn-pencil {
  color: white;
  font-size: 15px;
  line-height: 15px;
  padding: 8px 6px 8px 5px;
  vertical-align: middle;
  display: inline-block;
}
.questionContainer .pointsAction.disabled {
  background: #E8E8E8 !important;
  opacity: initial;
}
.questionContainer .pointsAction.disabled .entrayn-floppy {
  color: #F4F4F4 !important;
}
/***************GRADING CSS ENDS HERE */

.questionContainer .questionText {
  font-size: 16px;
}
.questionContainer .questionText, .questionContainer .questionInstruction {
  margin: 10px;
  border-bottom: 1px #d7d7d7 solid;
}
.questionContainer .questionText img {
  max-width: 100%;
}
.options.multiple {
  margin-bottom: 0;
  margin-top: 0;
}
.options {
  margin: 10px 10px;
  font-size: 16px;
}
/**
 * Imported answer choices have alignemnt issues
 * due to position:absolute css property addedd to spans
 * Overriding it, since those properties are applied inline !important is required
 **/

.options span, .questionText span, .explaination span {
  position: static !important;
}
/**
 * Imported questions have alignemnt issues
 * due to vertical-align css property missing in the image
 **/

.options img, .questionText img, .explaination img {
  vertical-align: middle;
}
p.optionSet {
  font-weight: 600;
  font-size: 20px;
}
.input-prepend {
  margin: 20px 0;
  display: flex;
  cursor: pointer;
}
div.options.single .input-prepend .span2 {
  width: 95%;
}
div.options#FITB2 .input-prepend .span2 {
  width: 380px;
}
div.options#FITB3 .input-prepend .span2 {
  width: 220px;
}
.input-prepend .span2 {
  background: #FFFFFF;
  border: 1px #e8e8e8 solid;
  margin: 0;
  padding: 8px 10px 5px 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-align: left;
}
.questionHelp {
  border-top: 5px #e8e8e8 solid;
  font-size: 16px;
}
.noAccess .statisticsIcon, .noAccess .hintIcon, .noAccess .explainationIcon, .noAccess .answerIcon, .noAccess .previousIcon, .noAccess .nextIcon, .noAccess .pauseIcon, .noAccess .submitIcon, .disabled .hintIcon, .disabled .explainationIcon, .disabled .answerIcon, .disabled .previousIcon, .disabled .nextIcon, .disabled .pauseIcon, .disabled .submitIcon {
  opacity: 0.6;
}
.previousIcon:before {
  content: "\E836";
  font-family: "fontello";
  font-size: 25px;
  line-height: 30px;
  /*background: url('/sites/all/themes/entrayn_liquid/icons/Previous.png') no-repeat center;*/
}
.nextIcon {
  float: right !important;
  margin: -6px 10px !important;
}
.nextIcon:before {
  content: "\E82A";
  font-family: "fontello";
  font-size: 25px;
  line-height: 30px;
  /*background: url('/sites/all/themes/entrayn_liquid/icons/Next.png') no-repeat center;*/
}
.statisticsIcon:before {
  content: "\E845";
  font-family: "fontello";
  font-size: 25px;
  line-height: 30px;
  vertical-align: middle;
  /*background: url('/sites/all/themes/entrayn_liquid/icons/Statistics.png') no-repeat center;*/
}
.helpIcon:before {
  content: "\E863";
  font-family: "fontello";
  font-size: 25px;
  line-height: 30px;
}
.hintIcon:before {
  content: "\E823";
  font-family: "fontello";
  font-size: 25px;
  line-height: 30px;
  vertical-align: middle;
  /*background: url('/sites/all/themes/entrayn_liquid/icons/Hints.png') no-repeat center;*/
}
.tagIcon:before {
  content: "\E815";
  font-family: "fontello";
  font-size: 25px;
  line-height: 30px;
  vertical-align: middle;
  /*background: url('/sites/all/themes/entrayn_liquid/icons/Hints.png') no-repeat center;*/
}
.tagIcon:before {
  content: "\E815";
  font-family: "fontello";
  font-size: 25px;
  line-height: 30px;
  vertical-align: middle;
  /*background: url('/sites/all/themes/entrayn_liquid/icons/Explanation.png') no-repeat center;*/
}
.explainationIcon:before {
  content: "\E81D";
  font-family: "fontello";
  font-size: 25px;
  line-height: 30px;
  vertical-align: middle;
  /*background: url('/sites/all/themes/entrayn_liquid/icons/Explanation.png') no-repeat center;*/
}
.answerIcon:before {
  content: "\E80B";
  font-family: "fontello";
  font-size: 25px;
  line-height: 30px;
  vertical-align: middle;
  /*background: url('/sites/all/themes/entrayn_liquid/icons/Answer.png') no-repeat center;*/
}
.pauseIcon:before {
  content: "\E82F";
  font-family: "fontello";
  font-size: 25px;
  line-height: 30px;
  /*background: url('/sites/all/themes/entrayn_liquid/icons/Pause.png') no-repeat center;*/
}
.submitIcon:before {
  content: "\E846";
  font-family: "fontello";
  font-size: 25px;
  line-height: 30px;
  /*background: url('/sites/all/themes/entrayn_liquid/icons/Submit.png') no-repeat center;*/
}
.feedbackIcon:before {
  content: "\E819";
  font-family: "fontello";
  font-size: 25px;
  line-height: 30px;
  /*background: url('/sites/all/themes/entrayn_liquid/icons/Feedback.png') no-repeat center;*/
}
.noAccess {
  cursor: default;
  /*color: #e8e8e8;*/
}
.questionHelp .text {
  display: none;
  margin: 10px 40px;
}
.questionContainer .explainations {
  /*border-bottom: 5px #e8e8e8 solid;*/
}
.questionContainer .text .explaination {
  display: inline-block;
}
.assessmentContent .assessment-stub {
  margin-right: 0px !important;
  font-family: 'Open Sans', sans-serif !important;
}
.assessmentContent .assessment-stub div {
  float: left;
  margin: -6px 5px;
  width: 30px;
  height: 30px;
}
.questionHelp.noAccess .assessment-stub {
  opacity: 0.6 !important;
}
/* arrows */

.arrow-right {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #333333;
  display: inherit;
  margin: 4px 0 0 -1px;
}
.arrow-left {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #333333;
  display: inherit;
  margin: 0 0 0 -3px;
}
.blur {
  color: transparent;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.info {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  display: none;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
}
.questionTabInfo {
  background: url('/sites/all/themes/entrayn_liquid/images/misc/assessment-top-info.png') center no-repeat;
  height: 100%;
  margin: auto;
}
.footerTabInfo {
  background: url('/sites/all/themes/entrayn_liquid/images/misc/assessment-bottom-info.png') center no-repeat;
  height: 100%;
  margin: auto;
}
.closeInfoGraphic {
  display: none;
  /*  display: block;
  position: absolute;
  z-index: 1000;
  margin:15% 87%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;*/
}
.overall {
  display: none !important;
}
.questionContainer .input-prepend .add-on {
  height: auto;
  width: 32px;
}
.questionContainer .input-prepend .add-on input {
  margin-top: 8px;
}
.questionContainer .options .input-prepend.missed {
  border: 1px solid #F9533D;
  border-radius: 4px;
  padding: 1px;
}
#assessment-stats-table tbody tr {
  cursor: pointer;
}
#assessment-stats-table thead tr th div {
  text-transform: capitalize;
}
.launch-assessment-stats-table tr {
  cursor: default !important;
}
#content {
  border: 0 !important;
}
.publish-assessment .publish-action {
  display: inline-table;
  width: 100%;
}
.publish-assessment .publish-information {
  text-align: right;
}
.sorted {
  background: white;
}
.tabContent .dummy div {
  display: none;
}
/*******WRITTEN ANSWER***/

.userAnswer {
  margin: 10px;
}
.userAnswer .userAnswerInput {
  width: 99%;
  min-height: 200px;
  resize: none;
}
.answerState {
  text-align: right;
  margin: 10px;
}
.answerState div {
  display: inline-block;
}
.answerState .answerSave {
  margin-left: 10px;
}
.answerState .answerStatus {
  display: inherit;
  margin: 10px 0;
  font-size: 18px;
}
div.answerState div.limitReached {
  color: #F00;
}
/* UPLOAD ANSWER TYPE */

div.upload-new-answer {
  border-top: 1px #e8e8e8 solid;
  display: none;
}
div.uploaded-file {
  background-color: #e8e8e8;
  margin: 10px 0;
  padding: 5px 10px;
}
div.upload-new-answer {
  margin: 10px 0;
  padding: 10px 0;
}
div.remove-file {
  cursor: pointer;
  display: inline-block;
  float: right;
  font-weight: bolder;
  display: none;
}
div.uploaded-file:hover div.remove-file {
  display: block;
}
/*table.table-bordered  >tbody > tr:hover > td {
    font-weight: bold;
    white-space: nowrap;
}*/

/* questions status*/

.sectionStatsTable .attempted {
  display: inline-block;
  background: #009999;
  border: 2px #009999 solid;
  width: 16px;
  height: 16px;
  margin: 0 5px;
}
.sectionStatsTable .skipped {
  display: inline-block;
  border: 2px #c1c0c0 solid;
  background: #c1c0c0;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  float: left;
}
.sectionStatsTable .correct {
  display: inline-block;
  background: #82C601;
  border: 2px #82C601 solid;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  float: left;
}
.sectionStatsTable .wrong {
  display: inline-block;
  background: #F9533D;
  border: 2px #F9533D solid;
  float: left;
  width: 16px;
  height: 16px;
  margin: 0 5px;
}
.sectionStatsTable .graded {
  display: inline-block;
  background: #009999;
  border: 2px #009999 solid;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  /*float:left;*/
}
.sectionStatsTable .nonAttempted {
  display: inline-block;
  border: 2px #009999 solid;
  background: white !important;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  vertical-align: text-top;
}
.sectionStatsTable .yetToBeGraded {
  display: inline-block;
  /*background: #bebebe;*/

background: #FFFFFF;
  border: 2px #bebebe solid;
  /*float:left;*/

width: 16px;
  height: 16px;
  margin: 0 5px;
}
/*
td .correct, td .wrong, td .skipped, td .nonAttempted, td .yetToBeGraded, td .graded, td .attempted{
  float:right !important;
  }*/

.correct .add-on {
  border-color: #82C601 !important;
  background-color: #82C601 !important;
}
.correct .span2 {
  border-color: #82C601;
}
.wrong .add-on {
  border-color: #F9533D !important;
  background-color: #F9533D !important;
}

.wrong .span2 {
  border-color: #F9533D;
}

.td-nowrap {
  white-space: nowrap;
}
/* NEW DESIGN CHANGES */

.tableRefrence .ledgendLabel {
  display: table-cell;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 5px;
}
.tableRefrence .objectiveLedgend {
  padding: 6px 104px 0 20px;
  display: inline-block;
  float: left;
  border-right: 1px solid #adadad;
  height: 40px;
  margin-top: -5px;
}
.tableRefrence .subjectiveLedgend {
  display: inline-block;
  padding: 1px 25px 0 0;
}
/* FOOTER GUIDE */

.assessment-Footer {
  background: #e8e8e8;
  display: block;
  z-index: 1000;
  padding-top: 5px;
}
.assessment-Footer .footerContainer {
  border: 1px solid #FFF;
  height: 43px;
}
.assessment-Footer.stick {
  position: fixed;
  bottom: 0px;
  border: 3px #e8e8e8 solid;
  width: 990px;
  margin: 0 0 0 -3px;
  padding: 0px;
}
.assessment-Footer .entrayn-i-explanation {
  font-size: 34px;
  margin: -7px -13px !important;
}
.assessment-Footer .arrow-right {
  display: inline-table;
  border-left-color: white;
  margin: 0 2px 0 -3px;
}
.assessment-Footer .partition {
  display: inherit;
}
.assessment-Footer .actionLeft {
  float: left;
}
.assessment-Footer .actionRight {
  float: right;
}
.assessment-Footer .assessment-stub {
  display: inline-block;
  padding: 13px;
  background: #FFFFFF;
  height: 17px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
}
th.sub div {
  font-size: 11px;
}
.subLabel {
  display: inline-block !important;
  /*font-size: 20px;*/

/*vertical-align: bottom !important;*/

/*margin: 0 0 -5px 0;*/
}
.t-head-sub {
  font-weight: normal !important;
  font-size: 10px !important;
}
/* GRAPHS */

.assessmentStatsGraphs {
  display: none;
  margin: 20px 0 -40px 0;
}
.assessmentStatsGraphs text {
  font-weight: bold;
  font-size: 20px;
}
.assessmentStatsGraphs .graph-label {
  vertical-align: top;
  /*text-align: center;*/

font-size: 18px;
  margin: 5px;
}
.sectionsGradingCompletion .c3-legend-item, .questionsGradingCompletion .c3-legend-item, .learnersGradingCompletion .c3-legend-item {
  display: none !important;
}
.sectionsGradingCompletion-label {
  margin-left: 47px !important;
}
.questionsGradingCompletion-label {
  margin-left: 41px !important;
}
.learnersGradingCompletion-label {
  margin-left: 45px !important;
}
.assessmentStatsGraphs .graph {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}
.sectionsGradingCompletion {
  width: 34% !important;
  margin: 0 0 0 17px;
}
.questionsGradingCompletion {
  width: 33% !important;
}
.learnersGradingCompletion {
  width: 30% !important;
}
.assessmentStatsGraphs .graph svg {
  font-family: 'Open Sans', sans-serif;
  margin-left: -35px !important;
}
.sectionsGradingCompletion-graph {} .questionsGradingCompletion-graph {} .learnersGradingCompletion-graph {} .assessmentStatsGraphs .c3-chart-arc path {
  stroke: initial !important;
}
.assessmentStatsGraphs .c3-chart-arcs-title {
  font-size: 40px;
  alignment-baseline: central;
  dominant-baseline: middle;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.legend {
  text-align: center;
  float: right;
}
.legend span {
  display: block;
  text-align: center;
  cursor: pointer;
  color: white;
  margin: 5px;
  text-align: left;
  font-size: 12px;
}
.legend .legend-color {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 5px;
}
.sectionsGradingCompletion-graph div.legend {
  margin: -47% 27px 0 0;
}
.questionsGradingCompletion-graph div.legend {
  margin: -58% 72px 0 0;
}
.learnersGradingCompletion-graph div.legend {
  margin: -47% 25px 0 0;
}
/* clock */

div.assessment-clock {
  border: 1px solid #0AAFBC;
  border-radius: 4px;
  background-color: white;
  padding: 5px;
}
.assessment-clock-count_down {
  display: inline-block;
}
.assessment-clock-count_down > div {
  display: inline-block;
  vertical-align: middle;
}
.entrayn-clock-bg {
  /*background: #016262;*/

border-radius: 5px;
  padding: 4px 0px;
}
.entrayn-clock {
  font-size: 21px;
  line-height: 21px;
  color: white;
}
#assessment-clock-text {
  margin: 0 6px 0 5px;
}
.assessment-clock-segments {
  margin: 0px -2px 0px -2px;
}
.assessment-clock-digits {
  font: bold;
  font-size: 18px;
  line-height: 18px;
  vertical-align: inherit;
}
.assessment-clock-time_text {
  font-size: 9px;
  line-height: 9px;
  text-align: center !important;
}
.assessment-clock-seperator {
  margin-top: -11px;
}
/* clock warning */

.assessment-clock.warning {
  color: #fe8500;
}
.assessment-clock.warning .entrayn-clock-bg {
  background: #fe8500 !important;
}
/* clock critical */

.assessment-clock.critical {
  color: #fe0000;
}
.assessment-clock.critical .entrayn-clock-bg {
  background: #fe0000 !important;
}
.assessment-clock.warning .exclude, .assessment-clock.critical .exclude {
  color: #e8e8e8 !important;
}
/* end clock */

/* force-submit */

.force-submit-container {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  display: none;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
}
.force-timeout {
  width: 385px;
  position: fixed;
  /* z-index: 1000; */

color: white;
  top: 37%;
  /* margin: 0 auto; */

margin: 0 38%;
  background-color: white;
  border-radius: 4px;
}
.force-timeout .status-time {
  display: block;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  line-height: 40px;
}
.force-timeout .status-time .text {
  padding: 0px;
}
.force-timeout .status-time .oops {
  font-weight: bold;
  padding: 0px 0px 0px 10px;
}
.force-timeout .status-time .zero {
  color: grey;
  padding: 0px 10px 0px 0px;
}
.force-timeout .message-content-canvas {
  margin: 15px 15px 0px 15px;
}
.force-timeout .message-content {
  background-color: white;
  color: black;
}
.force-timeout .button-ok {
  font-weight: bold;
  float: center;
  text-align: center;
  color: white;
}
.force-timeout .class-ok {
  display: inline-block;
  padding: 8px 26px;
  border-radius: 4px;
  margin: 20px;
  cursor: pointer;
}
/* Options Sets */

div.options.centroid {
  width: 100%;
}
div.options.centroid div.set {
  margin: 0 auto;
  margin-left: 0px;
}
/* quantitative comparison type */

.quantity-container {
  /*border-top: 1px solid #d7d7d7;*/
}
.quantity-container .quantiy {
  display: inline-block;
  width: 49%;
  border-right: 1px solid #d7d7d7;
  text-align: center;
  vertical-align: top;
}
.quantity-container .quantiy: last-child {
  border-right: none;
}
.quantity-container .quantiy .quantity-title {
  margin: 0 0 10px 0;
  font-weight: bold;
  font-size: 16px;
}
.quantity-container .quantiy .quantity-value {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
}
/* result page modal */

#assessmentResultModal .modal-title {
  color: #FFF;
  font-weight: bold;
}
#assessmentResultModal .modal-header button {
  color: white;
  background: none;
  opacity: 0.9;
}
/** attempt interface ... done button effect **/
.assessment-stub.next {
  padding-right: 4px;
}
.assessment-stub.done {
  display: none;
  /*width: 85px !important;*/

padding-right: 0px;
}
.doneIcon {
  float: right !important;
  margin: -6px 10px !important;
}
.doneIcon:before {
  content: "\E85B";
  font-family: "fontello";
  font-size: 25px;
  line-height: 30px;
}
/**** RC type questions ***/
.rcContent {
  width:96% !important;
}
.rc-container {
  display: inline-table;
  width:96% !important;
}
.rc-container .rc-passage {
  width: 50%;
  border-right: 1px solid;
  padding-right: 10px;
}

.rc-container .rc-question {
  width: 50%;
  border-left: 1px solid;
  margin-left: -1px;
  padding-left: 10px;
}

.rc-container .slimScrollDiv {
  margin-right: -15px;
}

.rc-container .slimScrollRail {
  opacity: initial !important;
  background: #d7d7d7 !important;
}

.rc-container .rc-question .questionType, .rc-container .questionHelp {
  display: none !important;
}
.rc-container .questionText {
  margin: 0 5px;
  padding: 10px;
}

.rc-container .rc-passage .rcContent img {
  max-width: 100%;
  height: auto;
}
.rc-container .rc-passage line {
  display: block;
  float: left;
  margin: 0 10px 0 0;
  clear: both;
  width: 20px;
  font-size: 10px;
  font-style: italic;
  text-transform: capitalize;
}
/*
.rc-container .rc-passage sentence:hover{
      background:#AAAAAA;
      cursor: pointer;
      }*/

.rc-container .rc-passage .rcContent > paragraph: first-of-type {
  display: block;
  margin-top: 15px;
}
.rc-container .rc-passage sentence {} .rc-container .rc-passage paragraph.clearBoth {} .rc-container .rc-question .pointsGrid {
  display: none;
}
/* distraction free mode */

.assessmentTabs .assessmentDistractionFree {
  margin-right: 10px;
  display: none !important;
}
.assessmentTabs .assessmentDistractionFree .tabContainer.active .infoBackground {
  background: #016262;
  margin: 4px 3px 3px;
  padding: 4px 5px 2px 5px;
}
/** USER selection or hover over options */

.questionContainer.attemptInterface .options .input-prepend:hover .add-on, .questionContainer .options .input-prepend.choosen .add-on {
  background: #7E7E7E;
  border-color: #7E7E7E;
}
.questionContainer.attemptInterface .options .input-prepend:hover .span2, .questionContainer .options .input-prepend.choosen .span2 {
  border-color: #7E7E7E;
}
.lineNumbersCaption {
  font-size: 10px;
  font-style: italic;
  text-transform: capitalize;
}
/* numeric entry */

.questionContainer .answer-container {
  margin: 20px 0;
  text-align: center;
}
.questionContainer .answer-container div.numeric {
  width: 100px;
  margin: auto;
}
.questionContainer .answer-container .numerator, .questionContainer .answer-container .denomenator {
  background: #EFEFEF;
  padding: 5px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 20px;
  width: 80px;
  margin: auto;
}
.questionContainer .answer-container .seperator {
  height: 5px;
  background: #cccccc;
  width: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
}
.questionContainer .answer-container .numeric {
  display: inline-block;
  margin: 0 10px !important;
}
.questionContainer .answer-container .numericLabel {
  display: inline-block !important;
}
/* data entry input boxes */

.questionContainer .answer-container .numeric input {
  width: 80px;
  border: 2px solid #d7d7d7;
  border-left: 8px solid #d7d7d7;
  text-align: center;
  height: initial;
}
.questionContainer .answer-container .numeric input.wrong {
  border-color: #f9533c;
}
.questionContainer .answer-container .numeric input.correct {
  border-color: #619c1f;
}
.questionContainer .sectionInstructionsContainer {
  margin: 15px;
  word-break: break-word;
  min-height: 600px;
}
.force-submit-container .modal-action {
  float: right;
  margin: 15px
}
.force-submit-container .modal-action button {
  margin-left: 10px;
}
.endSectionIcon::before,
.doneIcon {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.assessmentTabs .assessmentNavTabs.endSection {
  /*margin: 0 10px;*/
}
.assessment-Footer .assessment-stub.infoTab {
  font-weight: lighter;
  font-size: 14px;
}
.assessment-Footer .assessment-stub.infoTab .helpIcon {
  margin: -6px -1px;
}
.sectionInstructionsContainer .sectionInstructions {
  margin-top: 30px;
  font-size: 18px;
}
.sectionInstructionsContainer .sectionInstructionButtons {
  float: right;
  margin-left: 10px;
  font-size: 20px !important;
  line-height: 30px !important;
}
/* Countdown timer css */

#assessment-clock .is-countdown {
  border: none !important;
  background: none !important;
}
.assessmentContent div.hide {
  display: none;
}
.assessmentContent div.show {
  display: block !important;
}
.pointsLabel {
  margin-right: 8px;
}

.disconnectionWarningBackground {
  height: 100%;
  opacity: 0.9;
  background: white;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.disconnectWarningContent,
.processingInteractionQueueContent {
  height: 100%;
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: 1001;
  text-align: center;
  color: black;
  opacity: 0.9;
  font-size: 20px;
  line-height: normal;
}

.connectionRestored {
  top: 0;
  z-index: 10002;
  background: rgba(200,200,0,0.9);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 5px 15px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  color: white;
}

#interaction-queue-status {
  display: inline;
}

.connected {
  color: #3C763D;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  display: inline-block;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.disconnected {
  color: #A94442;
  background-color: #F2DEDE;
  border-color: #EBCCD1;
  display: inline-block;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 10px;
}


/* Feedback Section */

.feedbackContainer {
  display: block;
  background: #e7e7e7;
  padding: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #cfcfcf;
}

.feedbackVisibilityContainer {
  display: inline-block;
  color: #4B4B4B;font-size: 14px;
}

.feedbackContainer .slimScrollDiv {
  margin-bottom: 10px;
}

.feedbackContainer .feedbackInput {
  width: 100%;
  display: inherit;
  height: 80px;
  border: 1px solid #cfcfcf;
  resize: none;
}

.feedbackContainer .visibilityLabel {
  width: initial;
  margin: 0 0 0 10px;
  padding: 0px;
  float: none;
}

.feedbackContainer .visibilityInput {
  margin: 3px !important;
  vertical-align: middle;
}

.feedbackContainer .feedbackTitle {
  font-family: 'Open Sans', sans-serif !important;
  height: 30px;
  margin: 10px 0
}

.feedbackContainer .feedbackAction {
  text-align: right;
  margin: 10px 0;
}

.feedbackContainer .feedbackInputButton {
  width: 81px;
  font-weight: bold;
}

.feedbackInputButton.entrayn-cancel {
  text-align: right;
}

.feedbackContainer .feedbackAction .feedbackDummy {
  font-size: 14px;
  float: left;
  text-align: left;
  width: 277px;
  display: none;
}


.questionContainer {
  margin: 10px !important;
  padding-bottom: 20px;
}

.questionHelp.feedbacks .learnersContainer {
  display: table-row-group;
}

.learnersContainer .assessment-learner-stub {
  margin: 0 5px 10px 1px;
  height: 35px !important;
  width: 180px !important;
  padding: 1px !important;
}

.questionHelp .text {
  padding: 10px;
  margin: 10px;
}

.learnersContainer .assessment-learner-stub .user-facts {
  width: 105px;
}

.learnersContainer .assessment-learner-stub .user-facts .progressBarWrap {
  width: 60px;
}
/* FEEDBACK INTERFACE */

.feedbackResponseContainer {
  font-family: 'Open Sans', sans-serif !important;
}

.feedbackResponse {
  border: 1px solid #cfcfcf;
  display: inline-block;
  background: #e7e7e7;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  cursor: pointer;
}

.feedbackContent {
  display: inline-block;
  vertical-align: top;
  margin: 0 6px;
}

.feedbackResponse:not(.expanded):last-child {
  border-bottom: 1px solid #cfcfcf;
}

.feedbackResponse .discussionThread {
  padding: 0
}

.feedbackGlimpse .feedbackPic {
  display: inline-table;
  vertical-align: bottom;
}

.feedbackGlimpse .feedbackPic img {
  width: 50px;
}

.feedbackGlimpse .feedbackPic img.feedbackVisibilityImg {
  opacity: 0.6;
}

.feedbackGlimpse .sendersName, .feedbackGlimpse .recieversName {
  display: inline-block;
  color: #222222;
  font-size: 12px;
}

.feedbackGlimpse .recieversName {
  float: right;
}

.feedbackGlimpse .feedbackText {
  display: inline-block;
  margin: 7px 0 0 0;
  color: #CFCED3;
}


.feedbackGlimpse .feedbackText div {
  display: inline-block;
}

.feedbackForwardIcon {
  -webkit-transform:scale(3,3);
  -moz-transform:scale(3,3);
  -ms-transform:scale(3,3);
  -o-transform:scale(3,3);
  transform:scale(3,3);
}

.feedbackGlimpse .feedbackTopic .feedbackTopicVal {
  width: 710px;
  background: #FFF;
  font-weight: 600;
  border: 1px solid;
  border-radius: 2px;
  padding: 5px;
  vertical-align: middle;
}

.feedbackTopicVal .feedbackTopicContent {
  width: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.feedbackTopic .feedbackTopicVal .feedbackTime {
  float: right;
}

.feedbackResponseLink {
  display: none;
  text-align: center;
  position: relative;
}

.feedbackResponseLink i.entrayn-comments {
  background: #d7d7d7;
  color: white !important;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: 1px solid #cfcfcf;
  font-size: 20px;
  padding: 10px;
}

.feedbackResponse .feedbackGlimpse {
  padding: 6px;
}

.feedbackResponse .feedbackThread {
  background: white;
  margin: 1px;
  cursor: default;
}

.feedbackResponse .feedbackThread .discussionUnit {
  padding: 5px;
  border-bottom: 1px solid #d7d7d7;
}

.discussionUnit div[id$=_add_feedback_response] {
  float: none !important;
  width: 100% !important;
}

.feedbackResponse .feedbackThread .discussionUnit: last-child {
  border-bottom: none;
}

.feedbackThread .discussion-topic {
  display: inline-block;
  line-height: inherit;
}

.discussionUnit .text {
  display: block !important;
  margin: 0;
  padding: 5px 0 0 10px;
}

.discussionUnit: last-child {
  border-bottom: initial;
}

.feedbackThread textarea.feedback-response-textarea {
  width: 90%;
}
